@using Microsoft.AspNetCore.Identity;
@using WebApplication8.Models.Users;
@model WebApplication8.ViewModels.Account.SearchViewModel;
@inject SignInManager<User> SignInManager

<div class="block-reg background-white">

    @if (Model.UserList.Count != 0)
    {

        @foreach (var user in @Model.UserList)
        {
            <div>
                <a asp-action="Inspect" asp-route-id="@user.Id" method="get" style="text-decoration:none">
                    <img src="@user.Image" class="ava" />
                    <label style="text-decoration:none; color:black">
                        <div style="font-size:20px">@user.GetFullName()</div>
                        @user.Status<br>
                        @user.About
                    </label>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (!@user.IsFriendWithCurrent)
                        {
                            <form asp-controller="AccountManager" asp-action="AddFriend" asp-route-id="@user.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-primary min-width-but">
                                    Добавить в друзья
                                </button>
                            </form>
                        }

                    }
                    <div class="lined-block"></div>
                </a>
            </div>
        }
    }
    else
    {
        <div>
            <label> Поиск не дал результатов.</label>
        </div>
    }


</div>